.view-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100vw;
}

.view-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pdf-container {
  display: flex;
  flex: 1;
}

.pdf-viewer {
  flex: 4; /* Adjusted to take more space */
  height: 100%;
}

.input-container {
  flex: 1; /* Keeps the input container at 20% width */
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding does not affect width calculation */
}

.acronym-input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%; /* Full width of its container */
}

.definition-display {
  font-size: 1.5em;
  color: #333;
}